@using MvcOnlineTicariOtomasyon.Models.Siniflar
@model List<KargoTakip>
@{
    ViewBag.Title = "CariKargoTakip";
    Layout = "~/Views/Shared/_CariLayout.cshtml";
    int count = 0;
}

<br />
<h2>Kargo Takip Sayfası</h2>
<br />
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Takip Kodu: @ViewBag.takipkodu</li>
</ol>
<table class="table table-bordered" style="margin-top:20px;">
    <tr>
        <th>Adımlar</th>
        <th>Açıklama</th>
        <th>Tarih</th>
      
    </tr>
    @foreach (var item in Model)
    {
        count++;
        <tr>
            <td>@count</td>
            <td>@item.Aciklama</td>
            <td>@item.TarihZaman</td>

        </tr>
    }



</table>
