@model List<MvcOnlineTicariOtomasyon.Models.Siniflar.Kategori>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
    int count = 0;
}

<table class="table table-bordered" style="margin-top:20px;">
    <tr>
        <th>ID</th>
        <th>Kategori Adı</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        count++;
        <tr>
            <td>@count</td>
            <td>@item.KategoriAd</td>
            <td><a href="/Kategori/KategoriSil/@item.KategoriID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Kategori/KategoriGuncelle/@item.KategoriID" class="btn btn-success">Güncelle</a></td>
            
        </tr>
    }



</table>
<a href="/Kategori/KategoriEkle/" class="btn btn-primary">Kategori Ekle</a>

