@model List<MvcOnlineTicariOtomasyon.Models.Siniflar.Departman>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
    int count = 0;
}

<table class="table table-bordered" style="margin-top:20px;">
    <tr>
        <th>ID</th>
        <th>Departman Adı</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Detaylar</th>
    </tr>
    @foreach (var item in Model)
    {
        count++;
        <tr>
            <td>@count</td>
            <td>@item.DepartmanAd</td>
            <td><a href="/Departman/DepartmanSil/@item.Departmanid" class="btn btn-danger">Sil</a></td>
            <td><a href="/Departman/DepartmanGuncelle/@item.Departmanid" class="btn btn-success">Güncelle</a></td>
            <td><a href="/Departman/DepartmanDetay/@item.Departmanid" class="btn btn-dark">Detaylar</a></td>

        </tr>
    }



</table>
<a href="/Departman/DepartmanEkle/" class="btn btn-primary">Departman Ekle</a>

