
<div class="login-form login-form-left">
    <div class="agile-row">
        <h3>Yeni Cari Kaydı</h3>
        <div class="login-agileits-top">
            <form method="post">
                <input type="text" class="name" name="CarilerAd" Placeholder="Adınız" required="" />
                <input type="text" class="name" name="CarilerSoyad" Placeholder="Soyadınız" required="" />
                <input type="text" class="name" name="CarilerSehir" Placeholder="Şehir" required="" />
                <input type="email" class="email" name="CarilerMail" Placeholder="E-mail" required="" />
                <input type="password" class="password" name="Sifre" Placeholder="Şifre" required="" />
                <div class="login-check">
                    <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i> </i> Kuralları Okudum Kabul Ediyorum. <a href="#"> Kurallar &amp; Şartlar</a></label>
                </div>
                <input type="submit" value="Kaydol">
            </form>
        </div>
    </div>
</div>